</div> <script src="/js/util.js"></script>

    <% if (currentPage === 'index') { %>
        <script src="/js/script.js"></script>
    <% } else if (currentPage === 'past') { %>
        <script src="/js/past.js"></script>
    <% } else if (currentPage === 'schedule') { %>
        <script src="/js/schedule.js"></script>
    <% } else if (currentPage === 'settings') { %>
        <script src="/js/settings.js"></script>
    <% } else if (currentPage === 'shared') { %>
        <script src="/js/shared.js"></script>
    <% } else if (currentPage === 'colabration') { %>
        <script src="/js/colab.js"></script>
    <% } else if (currentPage === 'feedback') { %>
        <script src="/js/feedback.js"></script>
    <% } %>

</body>
</html>