<header class="header">
    <div class="page-title">
        <h1><%= title %></h1>
        <% if (subtitle) { %>
            <p><%= subtitle %></p>
        <% } %>
    </div>
    <div class="user-profile">
        <img src="https://api.dicebear.com/7.x/pixel-art/svg?seed=Aahana" alt="User Avatar" class="avatar">
        <div class="user-info">
            <span class="username">@aahana_u</span>
        </div>
    </div>
</header>